<%- include('partials/header');  -%>
<h1>home</h1>
<p><%=  startingContent %></p>
<% console.log(posts); %>

  <% posts.forEach(function(post){  %>
   <h1><%= post.title %></h1>
   <p><%= post.content.substring(0,100) +"..." %>
   <a href="/posts/<%= posts.title%>">Read more</a></p>



 <%     console.log(post.title); %>
  <% }) %>

<%- include('partials/footer'); -%>